.container {
  background-color: lightgray;
}
body::-webkit-scrollbar {
  display: none;
}

/* .card{
    max-width: 400px;
    margin-left: 100px;
}

#card-container{
    display: flex;
    flex-direction: column;
    
} */
